$fonts: "DomaineSansDisplay-Light",
'Grot10-Light', 'Grot10-LightItalic', 'Grot10-Semibold', 'Hijrnotes';


@function font-url($file) {
  @return url('./assets/fonts/' + $file);
}


@each $font in $fonts {
  @font-face {
    font-family: $font;
    src: font-url('#{$font}.woff2') format('woff2'),
    font-url('#{$font}.woff') format('woff');
    font-style: normal;
  }
}
